<?xml version='1.0' encoding='utf-8'?>
<widget id="com.aomm.bussurfer" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Bus Surfer</name>
    <description>
        The quickest, easiest way to figure out which bus to catch.
    </description>
    <author email="alex@alexose.com" href="http://alexose.com">
        Alexander Ose
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="DisallowOverscroll" value="true" />
</widget>
