* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html, body {
    height: 100%;
    width: 100%;
}

body.surfer {
    background: #b31c0b;
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    padding:20px 0 0 0;
    text-align: center;
    position: relative;
}

body.surfer #footer {
    height: 60px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}


body.surfer div#main{
    background: #fff;
    border-radius: 10px;
    border: 3px solid #b31c0b;
    height: 100%;
}

body.surfer div.modal-content{
  margin-top: 30%;
}

body.surfer hr{
    border: 0;
}

body.surfer div#main div.container{
    color: #660f06;
}

body.surfer div#main div.container button.btn{
    background: #fff;
    border: 1px solid #b31c0b;
}

body.surfer div.navbar-default{
    font-size: 24px;
    background: #b31c0b;
}

body.surfer div.navbar-default .active a,
body.surfer div.navbar-default a:hover,
body.surfer div.navbar-default a:active,
body.surfer div.navbar-default a:focus {
    background: none !important;
    color: rgba(255,255,255,0.7) !important;
}

body.surfer div.navbar-default a{
    color: #fff;
}

body.surfer #map{
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
}

body.surfer #map .leaflet-control-container{
    visibility: hidden;
}
