* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html, body {
    height: 100%;
    width: 100%;
}

body.surfer {
    background: #b31c0b;
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
}

body.surfer div.main{
    border-radius: 10px;
    border: 3px solid #b31c0b;
    background: #fff;
    height: 100%;
    text-align: center;
}

body.surfer div.main hr{
    border: 0;
}

body.surfer div.main div.container{
    color: #660f06;
}

body.surfer div.main div.container button.btn{
    background: #fff;
    border: 1px solid #b31c0b;
}
